html {
  font-size: 100px;
  text-align: center;
}
p {
  color: #4f4f4f;
  font-size: .16rem;
  line-height: .24rem;
}
.first-section {
  margin-top: 1.5rem;
}
.second-section {
  margin-top: .25rem;
}
.share-button {
  display: inline-block;
  width: 1.775rem;
  height: .475rem;
  line-height: .475rem;
  margin-top: .4rem;
  font-size: .16rem;
  text-align: center;
  color: #fff;
  background-color: #4f4f4f;
  border-radius: .04rem;
}
.modal {
  display: none;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal .share-tip-container {
  position: absolute;
  top: .16rem;
  right: .16rem;
  z-index: 2;
  width: .36rem;
  height: 1.6rem;
  background-color: #4f4f4f;
  border-radius: 8px;
}
.modal .share-tip-container .pointer-icon {
  display: inline-block;
  margin: .1rem 0;
  width: .14rem;
  height: .14rem;
}
.modal .share-tip-container .share-tip {
  width: .14rem;
  font-size: .14rem;
  color: #fff;
  line-height: .19rem;
  margin: 0 auto;
}
